
.nav.nav-list.nav-stacked {
    font-family: "bookman old style";
    width: 100%;
    font-size: xx-large;
    color: navy;
}

#side-nav li {
    margin-bottom: 50px;
    line-height: 50px;
}



#side-nav li a {
    text-align: center;
    color: navy;
}

#side-nav li:last-child a {
    line-height: 100%;
}

.side-nav-menu {
    height: 100%;
}

body {
    /* Gradient for long browsers */
    /* From: http://www.colorzilla.com/gradient-editor/#_ */
    background: #0f0034; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMSUiIHN0b3AtY29sb3I9IiMwYTAwMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMxYzE2NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: url('../img/bokehTransparent.png') no-repeat, -moz-linear-gradient(left,  #0f0034 21%, #1c1649 75%); /* FF3.6+ */
    background: url('../img/bokehTransparent.png') no-repeat, -webkit-gradient(linear, left top, right top, color-stop(21%,#0f0034), color-stop(75%,#1c1649)); /* Chrome,Safari4+ */
    background: url('../img/bokehTransparent.png') no-repeat, -webkit-linear-gradient(left,  #0f0034 21%,#1c1649 75%); /* Chrome10+,Safari5.1+ */
    background: url('../img/bokehTransparent.png') no-repeat, -o-linear-gradient(left,  #0f0034 21%,#1c1649 75%); /* Opera 11.10+ */
    background: url('../img/bokehTransparent.png') no-repeat, -ms-linear-gradient(left,  #0f0034 21%,#1c1649 75%); /* IE10+ */
    background: url('../img/bokehTransparent.png') no-repeat, linear-gradient(to right,  #0f0034 21%,#1c1649 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0034', endColorstr='#1c1649',GradientType=1 ); /* IE6-8 */
}

#rox-header-wrapper {
    height: 220px;
}

#rox-logo {
    background-color: white;
    padding: 10px;
    height: 100%;
}

#rox-social-bar {
    position: relative;
    background-color: white;
    padding: 10px;
    height: 100%;
}

.catch-phrase {
    position: absolute; bottom: 0; right: 0;
    padding: 10px;
    font-size: xx-large;
    color: #19196C;
    font-style: italic;
}

.vertical-spacer {
    height: 25px;
}

#rox-nav-wrapper {
    background-color: white;
    height: 100%;
}

.nav {
    font-family: "bookman old style",serif;
    font-size: xx-large;
    color: navy;
}

.nav.nav-list {
    padding: 0;
}

.nav li {
    margin-bottom: 50px;
    line-height: 50px;
}

.nav li a {
    text-align: center;
    color: navy;
}

.nav .active a{
    /*background-image: url("../img/possible background2.png");*/
    color: navy;
    background-color: #EEE;
}

.nav .active a:hover{
    /*color: #808080;*/
}

#side-nav li:first-child {
    margin-top: 50px;
}

#rox-content-wrapper {
    padding: 0 10px;
    background-color: white;
    font-family: helvetica, serif;
}

/* Home */
.home-img {
    position: relative;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    /*text-align: center;*/
}

/* About */
.light-background {
    background-color: #E6E6E6;
}

/* Packages */
.media-heading {
    text-align: center;
}

.media-body {
    border: 2px solid #19196C;
}

.active-transition-pic {
    /*display: block;*/
    /*padding: 4px;*/
    /*line-height: 20px;*/
    /*border: 1px solid #ddd;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);*/
    /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);*/
}

.transition-option {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}