@font-face {
    font-family: 'custom-cursive';
    src: url('HomemadeApple.ttf');
}

.nav.nav-list.nav-stacked {
    font-family: custom-cursive;
    width: 100%;
    font-size: xx-large;
    color: navy;
}

#side-nav li {
    margin-bottom: 50px;
    line-height: 50px;
}



#side-nav li a {
    text-align: center;
    color: navy;
}

#side-nav li:last-child a {
    line-height: 100%;
}

.side-nav-menu {
    height: 100%;
}



.nav-list .active a{
    background-image: url("../img/possible background2.png");
    /*border-style: ridge;*/
    /*border-width: 5px;*/
    /*border-color: navy;*/
    /*border-right: none;*/
    color: white !important;
}


.row-fluid [class*="span"]{
    /*margin-left: 0px !important;*/
}

.mainBody {
    /*background-color: #d3d3d3;*/
    font-family: helvetica, serif;
    margin-top: 30px;
    /*height: 100%;*/
    /*border-style: ridge;*/
    /*border-width: 5px;*/
    /*border-color: navy;*/
    /*border-left: none;*/
}

.home-img {
    position: relative;
    margin-bottom: 10px;
}

#page-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

#content {
    height: auto;
    position: absolute;
    width: 980px;
    text-align: left;
    padding: 0px;
    background-color: white;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.center {
    height: auto;
    width: 980px;
    margin: auto;
    text-align: left;
    padding: 0px;
}

.background {
    /*background-image: url("../img/possible background2.png");*/
}

.catch-phrase {
    font-size: xx-large;
    margin-left: 40%;
    color: #19196C;
    font-style: italic;
}

.rox-header {
    border-bottom: 20px;
    border-bottom-image: url("../img/possible background2.png");
}

.info {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    /*text-align: center;*/
}

.light-background {
    background-color: #E6E6E6;
}

.media-heading {
    text-align: center;
}

.media-body {
    border: 2px solid #19196C;
}